# editors folders
.vscode
.vs
.idea

# executable and files linked to executable
bomberman*
a.out

# compilation files
*.o
*.gcda
*.gcno

# tmp files
vgcore*
*~
*#

# editors folders
.vscode
.vs
.idea

# build files and folders
Makefile
CMakeSettings.json
CMakeFiles
cmake-build-*
cmake_install.cmake
CMakeCache.txt
out/
cmake-build-debug
.idea/
cmake/Modules/FindIrrklang.cmake
x64
*.sln
*.vcxproj
*.filters

# blender
resources/models/planets/observatory/*.dae
resources/models/planets/tower_planet/*.dae

# Saves
build/save1.json
build/save2.json
build/save3.json
build/save4.json